doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Trungdev
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./gilfbenhi.css")
    body
        .heart-power
            .heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .one.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .two.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .three.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .four.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you    
            .five.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                  
            .six.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .seven.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you            
            .eight.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you    
            .nine.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .ten.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .eleven.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s12.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                   
            .s13.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you   
            .s14.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s15.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s16.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s17.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                             
            .s18.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s19.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s20.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s21.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s22.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s23.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s24.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s25.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s26.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s27.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s28.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s29.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s30.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s31.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s32.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s33.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s34.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s35.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s36.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s37.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s38.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s46.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s47.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s48.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s49.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                               
            .s50.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s39.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s40.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s41.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s42.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you   
            .s43.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s44.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s45.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s46.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s47.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s48.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s49.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s50.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s51.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s52.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s53.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s54.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s55.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s56.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s57.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s58.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s59.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s60.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s61.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
                        .s54.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s62.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s63.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s64.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s65.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s66.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s67.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s68.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s69.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you    
            .s70.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s71.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s72.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s73.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s74.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                                                                                                                                                                          
            .s75.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s76.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s77.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s78.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s79.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s80.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s81.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s82.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s83.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s84.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s85.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s86.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s87.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s88.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s89.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s90.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s91.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s92.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s93.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s94.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s95.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s96.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s97.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s98.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you                                                              
            .s99.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you   
            .s100.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s101.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s102.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s103.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s104.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s105.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s106.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s107.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s108.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s109.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s110.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s111.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s112.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s113.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s114.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s115.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s116.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s117.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
                        .s110.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s118.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s119.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s120.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s121.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s122.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s123.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s124.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s125.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s126.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s127.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s128.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you
            .s129.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you  
            .s130.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s131.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s132.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s133.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s134.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s135.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s136.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s137.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s138.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s139.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s140.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s141.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s142.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .s143.heart-dad 
                    .heart 
                    .heart-text    
                        span.heart-text1 I love you 
            .one-heart-text 
                span.text ANH YÊU EM                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
            
