mixin tourlist
    .tour-list
        .tour-top
            img.tour-top-images(src="./images/project1.1.png", alt="This-is-picture")
        .tour-under 
            .tour-under-content 
                span The Grand Palace
            .tour-under-value 
                img(src="./images/project1.4.png", alt="this-is-star") 
                
                span.tour-under-value-reviews 4.8 (12 reviews)