mixin tourItem 
    .tour-item 
        .tour-item-top
            img(src="https://images.unsplash.com/photo-1712638699109-73682d9787fd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="pictures", ).tour-top-image
            a.tour-top-text(href="https://www.facebook.com/profile.php?id=100046987730467", target="_blank", rel="noopener noreferrer") Must See
        .tour-item-under 
            span.tour-under-time Sep 28 10:00 AM - 1:00 PM
            h3.tour-under-content The Grand Palace
            .tour-review 
                img.tour-under-image(src="./images/star.svg" alt="this-is-star")    
                span.tour-review-count 4.8 (12 reviews)        